{% extends 'base2.html' %}

{% block content %}
    <h1><b>About me..</b></h1>
    <p>&emsp;This site was created to help users track the stock prices of their favorite stocks simple by logging in. The app is still in alpha and any suggestions will be highly appreciated.</p>
    <h4><b>What Is Ticker Symbol?</b></h4>
    <p>&emsp;A ticker symbol is an arrangement of characters—usually letters—representing particular securities listed on an exchange or otherwise traded publicly. When a company issues securities to the public marketplace, it selects an available ticker symbol for its securities that investors and traders use to transact orders. Every listed security has a unique ticker symbol, facilitating the vast array of trade orders that flow through the financial markets every day.</p>
    <p>Want to learn more? Click <a href="https://www.investopedia.com/terms/t/tickersymbol.asp" target="_blank">here</a></p>
{% endblock content %}