{% extends 'base2.html' %}

{% block content %}

<h1><b>Top B-NEWS of the hour</b></h1>

     {% for article in newsdata %}
          <div class="row" style="padding: 1%; min-height: 137px">
               <div class="col-sm-3">
                    <img src="{{article.image}}" style="width: 100%" alt="Image not found">
               </div>
               <div class="col-sm-7">
                    <h5><b>{{article.a}}</b></h5>
                    
                    <p>&emsp;{{article.details}}</p>
                    <br/>
                    <a href="{{article.url}}" style="position: absolute; bottom: 0pt; right: 0pt">
                         
                         <p>Read more..</p>
                    </a>
               </div>
               <div class="col-sm-2">
                    <!-- <a href="{{article.url}}">
                         <br/>
                         <p>Learn more..</p>
                    </a> -->
               </div>
          </div>
          <hr>
          <!-- <div class="col-sm-3" style="margin: 2%;background-image:linear-gradient(rgba(500,500,500,.5), rgba(500,500,500,.5)),url('{{article.image}}');background-size: 100% 100%;border-radius: 2% 2%;">
               <div class="content" style="justify-content:center;font-family: 'Josefin Sans', sans-serif;padding:10%" >
                                   <p>
                                   <span class="subtitle">{{article.a}} </span>
                                   <br>
                                   </p>
               </div>
               <div style="position: absolute; bottom: 0pt; right: 0pt">
               <a href="{{article.url}}">
                    <p>Learn more..</p>
                    </a>
               </div>
          </div> -->
     {% endfor %}
</div>
{% endblock content %}