{% extends 'base2.html' %}

{% block content %}

<h1><b>Top B-NEWS of the hour</b></h1>

     {% for article in newsdata %}
          <div class="row" style="padding: 1%; min-height: 137px">
               <div class="col-sm-3">
                    <img src="{{article.image}}" style="width: 100%" alt="Image not found">
               </div>
               <div class="col-sm-7">
                    <h5><b>{{article.a}}</b></h5>
                    
                    <p>&emsp;{{article.details}}</p>
                    <br/>
                    <a href="{{article.url}}" target="_blank" style="position: absolute; bottom: 0pt; right: 0pt">
                         
                         <p>Read more..</p>
                    </a>
               </div>
               <div class="col-sm-2">
                    
               </div>
          </div>
          <hr>
          
     {% endfor %}
</div>
{% endblock content %}