{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    {% load widget_tweaks %}
    <div style="padding-left: 3%; padding-top: 3%; font-family: 'Alike';">
        <h2><b>Reset Password</b></h2>
        <p>&emsp;Enter your registered Email-id:</p>
        <div style="padding-left: 10%">
            <form method="post" style="margin-top: 2%">
                {% csrf_token %}
                <div class="form-group" style="width: 35%;">
                    {% render_field form.email  type="text" class="form-control" placeholder="E-mail"%}
                </div>
                <button class="btn btn-primary py-2 px-4" type="submit" style="margin-left: 4.5%; display: inline-block">Submit</button>
            </form>
        </div>
        {% if form.errors %}
            <!-- Error messaging -->
            <div id="errors">
                <div class="inner">
                    <br/>
                    <p>There were some errors in the information you entered. Please correct the following:</p>
                    {{ form.non_field_errors }}
                    <ul style="color: red;">
                        {% for field in form %}
                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /Error messaging -->
        {% endif %}
    </div>
{% endblock content %}
